{%- set custom_component_descriptions = {"readme": "Generates this awesome readme file."} -%}
# Home Assistant Config

[![Home Assistant CI - Configuration Checks](https://github.com/rj175/home-assistant-config/actions/workflows/main.yml/badge.svg)](https://github.com/rj175/home-assistant-config/actions/workflows/main.yml)
[![Home Assistant CI - Linting](https://github.com/rj175/home-assistant-config/actions/workflows/linting.yml/badge.svg)](https://github.com/rj175/home-assistant-config/actions/workflows/linting.yml)
[![HA Version](https://img.shields.io/badge/Home%20Assistant-{{states.sensor.current_version.state}}-brightgreen)](https://github.com/home-assistant/home-assistant/releases/{{states.sensor.current_version.state}})

This is my Home Assistant installation.

## Entities

Below is a break down of the different types of entities that are currently deployed within my HA instance.

### Devices

Camera | Device Tracker | Light | Media Player | Switch
-- | -- | -- | -- | --
{{ states.camera | count }} | {{ states.device_tracker | count }} | {{ states.light | count }} | {{ states.media_player | count }} | {{ states.switch | count }}

### Inputs

Boolean | Datetime | Number | Select | Text
-- | -- | -- | -- | --
{{ states.input_boolean | count }} | {{ states.input_datetime | count }} | {{ states.input_number | count }} | {{ states.input_select | count }} | {{ states.input_text | count }}

### People & Places

Person | Zone
-- | --
{{ states.person | count }} | {{ states.zone | count }}

### Sensors

Binary Sensors | Sensors
-- | --
{{states.binary_sensor | count}} | {{states.sensor | count}}

### Other

Alert | Automation | Group | Scene | Script
-- | -- | -- | -- | --
{{states.alert | count}} | {{states.automation | count}} | {{ states.group | count }} | {{ states.scene | count }} | {{ states.script | count }}

## HACS

In addition to the pre-installed integrations and lovelace cards, HACS is used to managed and install additional
functionality.

### Integrations
Name | Description | Installed Version | Documentation
 --- | ----------- | ----------------- | -------------
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | selectattr('installed', 'equalto', True) | sort(attribute='name') %}
{{component.name}} | {{component.description}} | {{component.installed_version}} | {{component.documentation}}
{%- endfor %}

### Lovelace
Name | Description | Installed Version | Documentation
 --- | ----------- | ----------------- | -------------
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin')  | selectattr('installed', 'equalto', True) | sort(attribute='name') %}
{{component.name}} | {{component.description}} | {{component.installed_version}} | {{component.documentation}}
{%- endfor %}

### Addon Repositories
{% for repository in states.sensor.addons.attributes.addons_repositories | sort -%}
  - {{ repository }}
{% endfor %}

***

Generated by the [custom readme integration](https://github.com/custom-components/readme)
